<!DOCTYPE html>

<html>
<head>
<meta charset="utf-8"/>
	<title>browngineerz</title>
	<link rel="stylesheet" type="text/css" href="./iter_1.css">
	<link rel="icon" href=''>
</head>




<body>


<div class ='total'>

<div class = 'cover'>
	<h1>Browngineers</h1>
	<span>
	The Browngineers work tirelessly day and night to provide you the most seamless experience
	in perfecting your pictures for Instagram. If you have any questions, concerns, or feedback,
	please reach out to us <a href="./contact_us.html" target='_blank'><strong>here.</strong></a> <br/><br/>
	</span>
	<picture>
	<img src = 'squad.png' alt = 'GROUP PICTURE' >
	</picture>

	<span><br/>
	This page is your one stop shop for all your automated image compression and editing needs!<br/><br/>

	 <br/></span>


</div>



	<div class="row">
	<div class="column2">
			<img src = '' alt = 'an advertisement' id='heads'>
		</div>
		<div class="column" id='left'>
			<h1>Games</h1><hr/>
			<h2>game 1</h2>
			<p><a href='https://rohan-chaudhry.github.io/snek.github.io/' target ='_blank'>snake</a><br/>+ game image</p>
		<h2>game 2</h2>
		<p>flepy bord<br/>+ image</p>



		</div>
		<div class="column" id='center'>
			<h1>Image resize</h1><hr/>

			<p>entry form to send images to backend<br/><br/><br/>
			  <button class="btn">Upload a file</button><br/>
  <input type="file" name="myfile" />




			</p>
		</div>
		<div class="column" id='right'>
			<h1>Filters</h1><hr/>

			<p>
			BLACK&WHITE <br/>SHARPEN <br/>& MORE IN THE WORKS
			<br/><br/>

			</p>

	</div>
		<div class="column2">
			<img src = '' alt = 'an ad' id ='heads3'>
		</div>
	</div>

	<div><br/><br/>
	<hr/><p align='center'>copyright: browngineerz, 2018<br/><br/></p>

	</div>
</div>







</body>
</html>
